@font-face {
    font-family: OverpassMono;
    src: url(../../public/OverpassMono-VariableFont_wght.ttf);
}
/* ******************************************************* */

.Header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    /* background: transparent; */
}

.visible {
    position: relative;
    top: 0px;
    transition: top 0.4s ease-out;
    width: 100%;
}

.hidden {
    /* display: none; */
    position: relative;
    top: -200px;
    transition: top 0.4s ease-out;
    width: 100%;
}
/* ******************************************************* */
.GalleryVersaille {
    max-width: 700px;
    margin: 80px auto;
    /* border: 1px solid #000; */
    font-family: OverpassMono;
    font-size: 0.9rem;
}

/* Styles des lignes */
.rowVersaille {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%; /* Espacement entre les lignes */
    /* border: 1px solid #000; */
}

/* Styles des colonnes */
.rowVersaille-col-1 {
    flex: 0 0 calc(99%); /* 4 colonnes par ligne */

    /* padding: 2px 4px; Espacement horizontal entre les colonnes */
}

.rowVersaille-col-2 {
    flex: 0 0 calc(48%); /* 4 colonnes par ligne */
}
.rowVersaille-col-2:nth-child(1) {
    margin-right: 3%;
}
.rowVersaille-col-2:nth-child(2) {
    flex: 0 0 calc(48%);
    margin-left: 0%;
}

.rowVersaille-col-3 {
    flex: 0 0 calc(48%);
    margin-left: 51%;
}
.rowVersaille-1 {
    flex: 0 0 calc(100%);
    margin-top: 30%;
}

.rowVersaille-4-col-1 {
    flex: 0 0 calc(60%);
    margin-top: 20%;
    margin-left: 10%;
}

.rowVersaille-5-col-2 {
    flex: 0 0 calc(29%);
    margin-top: 4%;
    font-size: 0.5rem;
}
.rowVersaille-5-col-2:nth-child(1) {
    margin-left: 10%;
}
.rowVersaille-5-col-2:nth-child(2) {
    margin-left: 1%;
}
.paragraphe-jardin-versaille {
    font-size: 0.7rem;
}
