@font-face {
    font-family: OverpassMono;
    src: url(../../public/OverpassMono-Regular.ttf);
}

@font-face {
    font-family: Gaegu;
    src: url(../../public/Gaegu-Regular.ttf);
}

.bodyContact {
    display: flex;
    flex-direction: column;
    height: 90vh;
    font-size: 0.9rem;
    font-weight: 100;
}

.main-contact {
    text-align: center;
    max-width: 400px;
    margin: auto auto;
    font-family: OverpassMono;
}

h1 {
    max-width: 200px;
    font-family: OverpassMono;
    font-size: 0.9rem;
    padding: 6%;
}

.Link {
    text-align: center;
    max-width: 400px;
    margin: auto auto;
    font-family: OverpassMono;
    text-decoration: none;
    color: #000;
}
