@font-face {
    font-family: OverpassMono;
    src: url(../public/OverpassMono-Regular.ttf);
}

@font-face {
    font-family: Gaegu;
    src: url(../public/Gaegu-Regular.ttf);
}

body {
    margin: 0;
    font-family: OverpassMono Gaegu;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: OverpassMono Gaegu;
}
